.mt10{
      margin-top: 10px;
}

li{
      list-style: none;

}
.goods-list{
      max-height: 400px;
      overflow: auto;
}
.goods-box{
      width: 100%;
      height: 100px;
      background:rgba(255,255,255,0.6);
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 20px;
}


.goods-box .logo{
      width: 100px;
      height: 100px;
}

.goods-box .logo img{
      width: 100%;
      height: 100%;
}
.goods-box{
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      align-items:center ;
}
.goods-box .options{
      padding-right: 20px;
}
.goods-box .options .count{
      padding:0 20px;
}

.price{
      color:#f20;
      font-weight: 200;
      font-size: 20px;
}

.carts{
      height: 80px;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,.6);
}
.carts-img{
      width: 80px;
      height: 80px;
      font-size: 40px;
      text-align: center;
      padding-left: 80px;
      position: relative;
}
.carts-icon{
      font-size: 40px;
      color: yellowgreen;
      line-height: 80px;
}

.carts-img .count{
      font-size: 14px;
      position: absolute;
      top: 10px;
      right: -40px;
      background: #f20;
      color: #fff;
      border-radius: 50%;
      padding: 0 5px;
}


.carts-list{
      position: fixed;
      bottom: 80px;
      width: 50%;
      padding: 0;
      background: #ddd;
      margin: 0;
}

.carts-list li{
      width: 100%;
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      align-items:center ;
      padding-left: 20px;
}

.carts-list li .logo{
      width: 80px;
      height: 80px;
}
.carts-list li .logo img{
      width: 100%;
      height: 100%;
}

.goods-box .options .item-count{
      display: none;
}
.reduce-carts{
      display: none;
}

.carts-list li{
      border-bottom: 2px solid #fff;
}
.carts-list p{
      font-size: 14px;
      text-align: center;
      padding: 5px 0;
      background: antiquewhite;
}