/* common --start*/

.line{
      width: 100%;
      height: 1px;
      background: #000;
      box-shadow:  0 1px 0  #000;
      opacity: 0.3;
      border-radius: 1px;
}

/* common --end */


.container-goodslist{
      width: 1260px;
      margin: 0 auto;
      position: relative;
}
.container-goodslist::after{
      content: "";
      display: block;
      clear: both;
}

.container-goodslist .goods-box{
      width: 282px;
      box-shadow: 0 0 5px #eee;
      transition: 2s;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 5px;
      float: left;
      margin-left: 20px;
      margin-top: 20px;
}
.container-goodslist .goods-box:hover{
      box-shadow: 0 5px 15px #ddd;
}
 
.container-goodslist .good-image img{
      width: 100%;
      height: 393px;
      border-radius: 10px 10px 0 0 ;
}

.container-goodslist .good-title{
      font-size: 14px;
      line-height: 28px;
      padding-top: 20px;
      padding-bottom: 20px;
     
}
.container-goodslist .good-title p{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
}
.container-goodslist .good-detail {
      display: flex;
      justify-content: space-between;
      padding: 10px 5px;
}

.pagination-page .page-box{
      margin-top: 50px;
      padding: 10px;
      text-align: center;
      margin-left: -5px;
}
.pagination-page .page-box span{
      display: inline-block;
      width: 40px;
      height:40px;
      line-height: 40px;
      text-align: center;
      background: rgba(0 , 0 , 0 , 0.3);
      color: #ffffff;
      margin-left: 5px;
      cursor: pointer;
}
.pagination-page .page-box span.active{
      box-shadow: 0 0 3px #000;
      border-radius: 2px;
      font-size: 18px;
      background:  rgba(0 , 0 , 0 , 0.6);
}